@import "bootstrap-sprockets"; 
@import "bootstrap";

/* 共通レイアウト */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    background-color: #aaa;
}

#logo {
    font-size: 3rem;
    padding-top: 5px;
    margin-right: 10px;
    color: white;
}

.links {
    float: right;
}

.links li {
    display: inline-block;
    padding-top: 15px;
}

.links a {
    color: white;
}

/* トップページ */

.col-md-3 {
    margin-top: 50px;
}

.col-md-7 {
    margin-top: 50px;
}

.jumbotron {
    background-image: url('cake.jpg');
}

.recommend {
    margin-left: 100px;
    text-align: center;
}

.recommend-item {
    display: inline-block;
    margin-right: 50px;
}

.recommend-item a, 
.recommend-item p {
    display: block;
}

.more {
    display: block;
    margin-left: 500px;
}